// Define variables for your color scheme

// For example:
$red: #d3560e;
$blue: #521168;
$yellow: #ff8000;
$orange: #E67E22;
$green: #32B796;
$gray: #851e52;
$light-gray: #F4F4F4;
$border-gray: #e6e6e6;
$dark-grey: #999999;
